<section id="contact" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">
		<div class="contact-section contact-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
			<div>
			<h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Contactarte con los desarrolladores</h2>
			</div>
			<div>
			<h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">¿Ten&eacute;s alguna sugerencia? No dudes en mandarnos un mensaje.</h3>
			</div>
		</div>

		<form class="formwidth" (ngSubmit)="onSubmit()">
			<div class="contact-form" [ngStyle.xs]="{'padding-left': '50px', 'padding-right': '50px'}" [ngStyle.sm]="{'padding-left': '100px', 'padding-right': '100px'}" [ngStyle.md]="{'padding-left': '150px', 'padding-right': '150px'}" [ngStyle.lg]="{'padding-left': '200px', 'padding-right': '200px'}">
				<mat-form-field appearance="outline" color="primary">
				<mat-label>Tu nombre </mat-label>
				<input matInput placeholder="Nombre" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
				<mat-error *ngIf="nameFormControl.hasError('required')">
					Nombre <strong>requerido</strong>
				</mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline" color="primary">
				<mat-label>Tel&eacute;fono </mat-label>
				<input matInput placeholder="Telefono" [formControl]="phoneFormControl" [errorStateMatcher]="matcher">
				<mat-error *ngIf="phoneFormControl.hasError('required')">Tel&eacute;fono <strong>requerido</strong></mat-error>
				</mat-form-field>

				<mat-form-field appearance="outline" color="primary">
				<mat-label>Correo el&eacute;ctronico </mat-label>
				<input matInput placeholder="Correo el&eacute;ctronico" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
				<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">Ingrese un correo el&eacute;ctronico v&aacute;lido.</mat-error>
				<mat-error *ngIf="emailFormControl.hasError('required')">
					Correo el&eacute;ctronico <strong>requerido</strong>
				</mat-error>
				</mat-form-field>
				<br>
				<div fxLayout="row" fxLayoutAlign="center center">
				<button mat-raised-button color="primary" type="submit">Contact Us</button>
				</div>
			</div>
		</form>
	</div>
</section>
